<config>
	<war-url-pattern>http://192.168.8.45:8080/artifactory/dianping-snapshots/com/dianping/platform/phoenix-kernel/%s/phoenix-kernel-%1$s.war</war-url-pattern>
	<git>
		<origin-url>ssh://git@10.1.4.81:58422/kernel.git</origin-url>
		<local-dir>target/gitrepo</local-dir>
	</git>
	<console>
		<deploy-retry-interval>0</deploy-retry-interval>
		<deploy-url-pattern><![CDATA[http://%s:3473/phoenix/agent/deploy?op=deploy&deployId=%s&domain=%s&version=%s]]></deploy-url-pattern>
		<deploy-status-url-pattern><![CDATA[http://%s:3473/phoenix/agent/deploy?op=status&deployId=%s]]></deploy-status-url-pattern>
		<deploy-log-url-pattern><![CDATA[http://%s:3473/phoenix/agent/deploy?op=log&deployId=%s]]></deploy-log-url-pattern>
	</console>
</config>