<config env="dev">
	<war-url-pattern>http://192.168.8.45:8080/artifactory/dianping-snapshots/com/dianping/platform/%s/%s/%1$s-%2$s.war</war-url-pattern>
	<git>
		<origin-url>ssh://git@10.1.4.81:58422/%s.git</origin-url>
		<local-dir>target/gitrepo/%s</local-dir>
	</git>
	<agent>
		<container-install-path><![CDATA[~/Downloads/apache-tomcat-6.0.35]]></container-install-path>
		<container-port><![CDATA[8080]]></container-port>
		<kernel-doc-base-pattern><![CDATA[/data/webapps/phoenix-kernel/%s]]></kernel-doc-base-pattern>
		<domain-doc-base-keyword-pattern><![CDATA[/%s/current]]></domain-doc-base-keyword-pattern>
		<test-service-poll-interval>1000</test-service-poll-interval>
	</agent>
	<console>
		<deploy-retry-interval>30000</deploy-retry-interval>
		<deploy-url-pattern><![CDATA[http://%s:3473/phoenix/agent/deploy?op=deploy&deployId=%s&domain=%s&version=%s&warType=%s&gitUrl=%s&qaServiceUrlPrefix=%s&qaServiceTimeout=%s]]></deploy-url-pattern>
		<deploy-url-skip-test-pattern><![CDATA[http://%s:3473/phoenix/agent/deploy?op=deploy&deployId=%s&domain=%s&version=%s&warType=%s&gitUrl=%s]]></deploy-url-skip-test-pattern>
		<deploy-status-url-pattern><![CDATA[http://%s:3473/phoenix/agent/deploy?op=status&deployId=%s]]></deploy-status-url-pattern>
		<deploy-log-url-pattern><![CDATA[http://%s:3473/phoenix/agent/deploy?op=log&deployId=%s]]></deploy-log-url-pattern>
		<deploy-connect-timeout>1000</deploy-connect-timeout>
		<deploy-read-timeout>360000</deploy-read-timeout>
		<deploy-getlog-retrycount>10</deploy-getlog-retrycount>
		<test-service-url-prefix><![CDATA[http://192.168.26.23:8080/qa/service/task]]></test-service-url-prefix>
		<test-service-timeout>300000</test-service-timeout>
	</console>
</config>