<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[phoenix-container]%d %-5p [%c{1} %L] %m%n" />
		</layout>
	</appender>

	<logger name="com.dianping.alpaca.common.utils" additivity="false">
		<level value="FATAL" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.dianping.phoenix.router.hotdeploy" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
