<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<context-param>
	    <param-name>com.dianping.phoenix.demo.DemoListener1</param-name>
	    <param-value>+1</param-value>
	</context-param>
	<context-param>
	    <param-name>com.dianping.phoenix.demo.DemoListener2</param-name>
	    <param-value>+:Null|+com.dianping.Null|+com.dianping.phoenix.samples.SampleListener12</param-value>
	</context-param>
	<context-param>
	    <param-name>com.dianping.phoenix.demo.DemoListener3</param-name>
	    <param-value>-1</param-value>
	</context-param>
	<context-param>
	    <param-name>com.dianping.phoenix.demo.DemoListener4</param-name>
	    <param-value>-1</param-value>
	</context-param>

	<servlet>
		<servlet-name>mvc-servlet</servlet-name>
		<servlet-class>com.site.web.MVC</servlet-class>
		<init-param>
			<param-name>cat-client-xml</param-name>
			<param-value>/data/appdatas/cat/client.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-servlet</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>

	<!-- Filter -->
	<filter>
		<filter-name>Uncertain-DemoFilter1</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-:Null|-com.dianping.Null|+1</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Before-DemoFilter1</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>+1</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Before-DemoFilter2</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>+2</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Before-DemoFilter3</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>+2</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Before-DemoFilter4</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>+4</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>After-DemoFilter4</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-1</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>After-DemoFilter2</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-2</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>After-DemoFilter3</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-2</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>After-DemoFilter1</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-4</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Uncertain-DemoFilter2</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-:Null|-com.dianping.Null|+1</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Uncertain-DemoFilter3</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-:SampleFilter1|-com.dianping.Null|+1</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Uncertain-DemoFilter4</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>+com.dianping.phoenix.samples.SampleFilter2|+1</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Uncertain-DemoFilter5</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-com.dianping.phoenix.samples.SampleFilter3</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Uncertain-DemoFilter6</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-:SampleFilter3</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Uncertain-DemoFilter7</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>+:SampleFilter3</param-value>
	  	</init-param>
	</filter>
	
	<filter>
		<filter-name>NoInitParam-DemoFilter</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	</filter>
	<filter>
		<filter-name>Uncertain-DemoFilter_1</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-:NoInitParam-DemoFilter</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>Uncertain-DemoFilter_2</filter-name>
		<filter-class>com.dianping.phoenix.demo.DemoFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>-:After-DemoFilter4</param-value>
	  	</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Before-DemoFilter4</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Before-DemoFilter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Before-DemoFilter3</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Before-DemoFilter1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>After-DemoFilter4</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>After-DemoFilter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>After-DemoFilter3</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>After-DemoFilter1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter3</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter4</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter5</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter6</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter7</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>NoInitParam-DemoFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter_1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Uncertain-DemoFilter_2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--Listener-->
	<listener>
		<listener-class>com.dianping.phoenix.demo.DemoListener3</listener-class>
	</listener>
	<listener>
		<listener-class>com.dianping.phoenix.demo.DemoListener4</listener-class>
	</listener>
	<listener>
		<listener-class>com.dianping.phoenix.demo.DemoListener1</listener-class>
	</listener>
	<listener>
		<listener-class>com.dianping.phoenix.demo.DemoListener2</listener-class>
	</listener>
</web-app>

