
li.enabled .service-indicator {
background-color: #55A532;
background-image: -moz-linear-gradient(#6CC644, #55A532);
background-image: -webkit-linear-gradient(#6CC644, #55A532);
background-image: linear-gradient(#6CC644, #55A532);
background-repeat: repeat-x;
}

li .service-indicator {
float: right;
margin-top: 7px;
margin-right: 5px;
margin-left: 10px;
width: 8px;
height: 8px;
border-radius: 100px;
background-color: #AAA;
background-color: #CCC;
background-image: -moz-linear-gradient(#AAA, #CCC);
background-image: -webkit-linear-gradient(#AAA, #CCC);
background-image: linear-gradient(#AAA, #CCC);
background-repeat: repeat-x;
box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),0 1px 0 white;
}

h4 {
font-size: 17.5px;
}

div {
display: block;
}

.columns {
display: block;
}

.columns.hooks .sidebar {
float: left;
width: 280px;
}

.columns.hooks .main {
margin-left: 20px;
float: left;
}

ul.hook-list {
margin: 0 0 15px 0;
border-top: 1px solid #DDD;
}

ul.hook-list li a.selected {
color: white;
background-color: #3D7CB9;
}

ul.hook-list li {
list-style-type: none;
margin: 0;
padding: 1px 0;
font-size: 12px;
font-weight: bold;
border-bottom: 1px solid #DDD;
}

ul.hook-list li.enabled .service-indicator {
background-color: #55A532;
background-image: -moz-linear-gradient(#6CC644, #55A532);
background-image: -webkit-linear-gradient(#6CC644, #55A532);
background-image: linear-gradient(#6CC644, #55A532);
background-repeat: repeat-x;
}

ul.hook-list li.enabled .inactive {
background-color: #8A2000;
background-image: -moz-linear-gradient(#BD2C00, #8A2000);
background-image: -webkit-linear-gradient(#BD2C00, #8A2000);
background-image: linear-gradient(#BD2C00, #8A2000);
background-repeat: repeat-x;
}

ul.hook-list li .service-indicator {
float: right;
margin-top: 7px;
margin-right: 5px;
width: 8px;
height: 8px;
border-radius: 100px;
background-color: #AAA;
background-color: #CCC;
background-image: -moz-linear-gradient(#AAA, #CCC);
background-image: -webkit-linear-gradient(#AAA, #CCC);
background-image: linear-gradient(#AAA, #CCC);
background-repeat: repeat-x;
box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),0 1px 0 white;
}

.fieldgroup .fields {
margin: 10px 0 0 0;
padding: 10px;
}

dl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

dl.form {
margin: 0px;
}

dl.form > dt {
margin: 0 0 6px 0;
}
