<?xml version="1.0" encoding="UTF-8"?>

<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<listener>
		<listener-class>com.dianping.kernel.servlet.InspectListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>mvc-servlet</servlet-name>
		<servlet-class>org.unidal.web.MVC</servlet-class>
		<init-param>
			<param-name>cat-client-xml</param-name>
			<param-value>/data/appdatas/cat/client.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<filter>
		<filter-name>mvc-filter</filter-name>
		<filter-class>org.unidal.web.MVCFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>+1</param-value>
	  	</init-param>
	</filter>
	<filter>
		<filter-name>inspect-filter</filter-name>
		<filter-class>com.dianping.kernel.servlet.InspectFilter</filter-class>
	 	<init-param>
		    <param-name>_INDEX_</param-name>
		    <param-value>+2</param-value>
	  	</init-param>
	</filter>
	<filter-mapping>
		<filter-name>mvc-filter</filter-name>
		<url-pattern>/inspect/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>inspect-filter</filter-name>
		<url-pattern>/jsp/inspect/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.unidal.org/web/core</taglib-uri>
			<taglib-location>/WEB-INF/web-core.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/app.tld</taglib-uri>
			<taglib-location>/WEB-INF/app.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>

