user       nobody nobody; 
worker_processes  5;  
error_log  logs/error.log;
pid        logs/nginx.pid;
worker_rlimit_nofile 8192;
 
events {
  worker_connections  4096;  
}
 
http {
  include    conf/mime.types;
  include    /etc/nginx/proxy.conf;
  include    /etc/nginx/fastcgi.conf;
  index    index.html index.htm index.php;
 
  default_type application/octet-stream;
  log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';
  access_log   logs/access.log  main;
  sendfile     on;
  tcp_nopush   on;
  server_names_hash_bucket_size 128;
 
  server {
    listen       $config.server.listen;
    server_name  $config.server.serverName;
    access_log   logs/access.log  main;
 
 	#foreach( $location in $config.server.locations)
    location $nginx.locationMatchOp($location.matchType) $location.pattern  {
      #foreach( $directive in $location.directives)
      	$nginx.directive($directive)
      #end
    }
    #end
  }
 
 #foreach($upstream in $config.upstreams)
  upstream $upstream.name {
  	$nginx.lbStrategy($upstream.lbStrategy)
    #foreach($server in $upstream.servers)
    	$nginx.upstreamServer($server)
    #end
  }
 #end
}