#set($enable="true")
rewrite $directive.getDynamicAttribute("matches") $directive.getDynamicAttribute("target-pattern") #if($directive.getDynamicAttribute("break") == $enable) break;#elseif($directive.getDynamicAttribute("last") == $enable)  last;#else ;#end
