<router-rules>

#set($vs = ${ctx.getVirtualServer("s")})
<pool name='Default' url-pattern='${vs.defaultUrlPattern}' />

#foreach($f5Pool in $ctx.localPoolList)
<pool name='${f5Pool.poolName}' url-pattern='${f5Pool.url}' />
#end

<f5-rule target-pool='rs_rs-web'>
	<pattern>^/reservation.*</pattern>
</f5-rule>
<f5-rule target-pool='Web.Web_X_Account'>
	<pattern>^/ajax/json/account/login.*</pattern>
	<pattern>^/ajax/json/account/info.*</pattern>
	<pattern>^/ajax/json/account/reg.*</pattern>
</f5-rule>
<f5-rule target-pool='www_activity-web'>
	<pattern>^/event.*</pattern>
	<pattern>^/ajax/json/activity/offline.*</pattern>
</f5-rule>
<f5-rule target-pool='Web.Web_X_Group'>
	<pattern>.*</pattern>
</f5-rule>
</router-rules>
