#!/bin/sh

cd `dirname "$0"`
HOME=`pwd`
CONTAINER_HOME=$HOME/phoenix/phoenix-container

JAVA_OPTS="-server -Xms1024m -Xmx1024m -Xmn256m -Xss256k -XX:PermSize=128M -XX:MaxPermSize=128M -javaagent:`pwd`/phoenix/lib/byteman-2.1.2.jar=script:`pwd`/phoenix/meta/service-lion.btm"

cd $HOME

RUN_CMD="java -classpath \"$CONTAINER_HOME/WEB-INF/lib/*:$CONTAINER_HOME/WEB-INF/classes/\""
RUN_CMD="$RUN_CMD $JAVA_OPTS"
RUN_CMD="$RUN_CMD com.dianping.phoenix.container.PhoenixServer $CONTAINER_HOME >boot.log 2>&1 &"
echo $RUN_CMD
eval $RUN_CMD
#==========================================================================