#!/bin/sh

cd `dirname "$0"`
WORKSPACE_HOME=`pwd`
if [ -f phoenix/meta/phoenix.new -o x$1 = xrefresh ];then
	if [ -f phoenix/meta/phoenix.new ];then
		rm -rf phoenix/meta/phoenix.new
	fi
	mvn -Denv=dev eclipse:eclipse
fi

if [[ -z $ECLIPSE_HOME ]];then
	if [ -f /Applications/Eclipse.app/Contents/MacOS/eclipse ];then
		ECLIPSE_HOME=/Applications/Eclipse.app/Contents/MacOS/
	elif [ -f /Applications/eclipse/Eclipse.app/Contents/MacOS/eclipse ];then
		ECLIPSE_HOME=/Applications/eclipse/Eclipse.app/Contents/MacOS/
	fi
fi

grep -i "\-Dfile.encoding=utf-8" $ECLIPSE_HOME/eclipse.ini >/dev/null 2>&1
if [ $? -ne 0 ];then
	sudo echo "-Dfile.encoding=utf-8" >> $ECLIPSE_HOME/eclipse.ini
fi

"$ECLIPSE_HOME"/eclipse -data "$WORKSPACE_HOME"/ws > /dev/null 2>&1 &
